* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    top: 0 !important;
}

body {
    background: #000;
    color: #fff;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 16px;
}

.page-header {
    padding: 32px 0 32px;
    min-width: 968px;
    font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
    font-size: 16px;
    line-height: 32px;
    color: #fff;
    background-color: #222;
    background: url('img/kolizej_night-min.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    top: 0 !important;
}

.hero-image,
.page-header {
    color: #fff;
}

.page-header .info {
    float: right;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 16px;
}
/*lang*/

#goog-gt-tt,
.goog-te-balloon-frame {
    display: none !important;
}

.goog-te-banner-frame {
    display: none !important;
}

.goog-text-highlight {
    background: none !important;
    box-shadow: none !important;
}

.goog-logo-link {
    display: none !important;
}

.goog-te-gadget {
    height: 28px !important;
    overflow: hidden;
}

.page-header {
    margin: 0 0 120px;
    padding: 32px 0 32px;
}

.page-header a {
    color: #fff;
    margin-left: 56px;
    text-decoration: none;
    background-repeat: no-repeat;
    background-position: left;
}

.header-email {
    padding-left: 30px;
    background-size:10%;
    background-image: url("img/icon-email-white.svg");
}

.header-phone {
    padding-left: 25px;
    background-size: 9%;
    background-image: url("img/icon-phone-white.svg");
}

.language img {
    width: 30px;
}

.lang-toogle {
    margin-left: 30px;
    display: flex;
    float: right;
}

.toogle {
    margin-left: 10px;
}


/*toogle button*/

.toggle-button {
    position: relative;
    width: 60px;
    height: 30px;
    margin: 0;
    vertical-align: top;
    background: #ffffff;
    border: 1px solid #bbc1e1;
    border-radius: 30px;
    outline: none;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    transition: all 0.3s cubic-bezier(0.2, 0.85, 0.32, 1.2);
}

.toggle-button::after {
    content: "";
    position: absolute;
    left: 3px;
    top: 1.5px;
    width: 25px;
    height: 25px;
    background-color: blue;
    border-radius: 50%;
    transform: translateX(0);
    transition: all 0.3s cubic-bezier(0.2, 0.85, 0.32, 1.2);
}

.toggle-button:checked::after {
    transform: translateX(calc(100% + 3px));
    background-color: #fff;
}

.toggle-button:checked {
    background-color: blue;
}

.hero-image {
    padding-top: 220px;
    margin-bottom: 320px;
}

.hero-image .container {
    max-width: 1408px;
    text-align: center;
}

.heading {
    margin: 0 0 16px;
    font-family: "Old Standard TT", "Times", "Times New Roman", serif;
    font-size: 88px;
    line-height: 96px;
    font-weight: 400;
}

.hero-image p {
    margin: 0;
    font-size: 32px;
    line-height: 48px;
}

.intro {
    margin: 0 0 120px;
}

.subheading {
    margin: 0 0 56px;
    font-family: "Old Standard TT", "Times", "Times New Roman", serif;
    font-size: 64px;
    line-height: 80px;
    font-weight: 400;
    text-align: center;
}

.user-img {
    margin-top: 10px;
    border: 10px solid #fff;
    margin: 0 auto;
    background: url(img/user-img.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 400px;
    height: 400px;
    background-position: center;
    border-radius: 50%;
    margin-bottom: 50px;
}

.intro h3,
.portfolio h3 .choose-down-cv h3 {
    margin: 0 0 12px;
    font-size: 28px;
    line-height: 40px;
    font-weight: 500;
}

.intro p {
    margin: 0 0 32px;
}

.skills-list {
    margin: 0;
    padding: 0;
}

.skills-list dt {
    padding-left: 32px;
    background-repeat: no-repeat;
    background-position: left;
}

.skill-html {
    background-image: url("img/icon-html.svg");
}

.skill-css {
    background-image: url("img/icon-css.svg");
}

.level {
    margin: 4px 0 16px;
    padding: 0;
    height: 14px;
    font-size: 0;
    background-color: #ffffff;
    border: 1px solid #86c3fa;
    border-radius: 8px;
}

.level div {
    margin: 1px;
    height: 12px;
    background-color: #288be6;
    border-radius: 6px;
}

.projects {
    margin: 0;
    padding: 0;
    list-style: none;
}

.projects li {
    margin: 0 0 80px;
}

.project-image {
    margin: 0 0 24px;
    text-align: center;
}

.projects p {
    margin: 0 0 24px;
}

.button {
    margin-top: 10px;
    padding: 10px 20px;
    display: inline-block;
    vertical-align: baseline;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 4px;
    background-color: #288be6;
    color: #ffffff;
}

.page-footer {
    padding: 40px 0;
    background-color: #00417d;
    color: #ffffff;
}

.page-footer a {
    margin-left: 56px;
    color: inherit;
    text-decoration: none;
    background-repeat: no-repeat;
    background-position: left;
}

.footer-email {
    padding-left: 30px;
    background-image: url("img/icon-email-footer.svg");
}

.footer-phone {
    padding-left: 25px;
    background-image: url("img/icon-phone-footer.svg");
}
.header-github{
    padding-left: 25px;
    background-size:10%;
    background-image: url("img/github-seeklogo.com.svg");
}


/* Слайдер: */

.portfolio{
    margin-bottom: 50%;
}
.slider {
    max-width: 90%;
    position: relative;
    margin: auto;
    height: 300px;
}

.item {
    text-align: center;
}

.slider .item img {
    object-fit: cover;
    width: 100%;
    height: 70%;
}
.slider .previous,
.slider .next {
    cursor: pointer;
    position: absolute;
    width: auto;
    margin-top: 25%;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 16px;
    border-radius: 0 3px 3px 0;
    background-color: rgba(0, 0, 0, 0.2);
}

.slider .next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.slider .previous:hover,
.slider .next:hover {
    background-color: rgba(0, 0, 0, 1);
}

.slider .item {
    animation-name: fade;
    animation-duration: 1.5s;
}


/*My cv */

.choose-down-cv {
    margin-bottom: 30px;
}

.choose-down-cv h2 {
    margin: 0 0 56px;
    font-family: "Old Standard TT", "Times", "Times New Roman", serif;
    font-size: 64px;
    line-height: 80px;
    font-weight: 400;
    text-align: center;
}

.my-cv{
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
.form-send{
    display: grid;
    grid-template-areas: "a a a a b b b b" "c c c c c c c c" "d d d d d d d d";
    width: 800px;
    justify-content: center;
    text-align: center;
    align-self: start;
    align-items: center;
    align-content: center;
    justify-items: center; 
}
.input-name, .input-email, .text-send, .email-btn{
    outline: none;
    grid-area: a;
    border: 1px solid #fff;
}
.input-name, .input-email, .text-send:hover{
    outline: none;
}


.input-name{
    grid-area: a;
    width: 350px;
    margin: 0 20px 20px 20px;
    height: 30px;
    border: 1px solid #000;
    padding-left: 10px;
}
.input-email{
    outline: none;
    grid-area: b;
    width: 350px;
    margin: 0 20px 20px 30px;
    height: 30px;
    padding-left: 10%;
}
.text-send{
    resize: none;
    grid-area: c;
    width: 750px;
    margin-bottom: 40px;
    height: 300px;
    padding-left: 10px;
}
.email-btn{
    grid-area: d;
    width: 150px;
    height: 30px;
    outline: none;
    background-color:#fff;
    color:#222;
}


/*mobile version*/

@media (max-width: 1024px) {
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    html,
    body {
        overflow-x: hidden;
    }
    .container {
        max-width: 968px;
        margin: 0 auto;
        padding: 0 16px;
    }
    .page-header {
        padding: 32px 0 32px;
        min-width: 100%;
        font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
        font-size: 16px;
        line-height: 32px;
        color: #222222;
        background-color: #f2f4f6;
        background: url('img/kolizej_night-min.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
        background-size: cover;
        top: 0 !important;
    }
    .page-header .info {
        float: right;
        padding-left: 5%;
        color: #000;
    }
    /*lang*/
    #goog-gt-tt,
    .goog-te-balloon-frame {
        display: none !important;
    }
    .goog-te-banner-frame {
        display: none !important;
    }
    .goog-text-highlight {
        background: none !important;
        box-shadow: none !important;
    }
    .goog-logo-link {
        display: none !important;
    }
    .goog-te-gadget {
        height: 28px !important;
        overflow: hidden;
    }
    .page-header {
        margin: 0 0 120px;
        padding: 32px 0 32px;
    }
    .page-header a {
        margin-left: 56px;
        color: #288be6;
        text-decoration: none;
        background-repeat: no-repeat;
        background-position: left;
    }
    .header-email {
        padding-left: 30px;
        background-image: url("img/icon-email-header.svg");
    }
    .header-phone {
        padding-left: 25px;
        background-image: url("img/icon-phone-header.svg");
    }
    .language img {
        width: 30px;
    }
    .lang-toogle {
        margin-left: 30px;
        display: flex;
        float: right;
    }
    .toogle {
        margin-left: 10px;
    }
    /*toogle button*/
    .toggle-button {
        position: relative;
        width: 60px;
        height: 30px;
        margin: 0;
        vertical-align: top;
        background: #ffffff;
        border: 1px solid #bbc1e1;
        border-radius: 30px;
        outline: none;
        cursor: pointer;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        transition: all 0.3s cubic-bezier(0.2, 0.85, 0.32, 1.2);
    }
    .toggle-button::after {
        content: "";
        position: absolute;
        left: 3px;
        top: 1.5px;
        width: 25px;
        height: 25px;
        background-color: blue;
        border-radius: 50%;
        transform: translateX(0);
        transition: all 0.3s cubic-bezier(0.2, 0.85, 0.32, 1.2);
    }
    .toggle-button:checked::after {
        transform: translateX(calc(100% + 3px));
        background-color: #fff;
    }
    .toggle-button:checked {
        background-color: blue;
    }
    .hero-image {
        padding-top: 220px;
        margin-bottom: 400px;
    }
    .hero-image .container {
        max-width: 1408px;
        text-align: center;
    }
    .heading {
        margin: 0 0 16px;
        font-family: "Old Standard TT", "Times", "Times New Roman", serif;
        font-size: 88px;
        line-height: 96px;
        font-weight: 400;
    }
    .hero-image p {
        margin: 0;
        font-size: 32px;
        line-height: 48px;
    }
    .intro {
        margin: 0 0 120px;
    }
    .subheading {
        margin: 0 0 56px;
        font-family: "Old Standard TT", "Times", "Times New Roman", serif;
        font-size: 64px;
        line-height: 80px;
        font-weight: 400;
        text-align: center;
    }
    .user-img {
        margin-top: 10px;
        border: 10px solid #fff;
        margin: 0 auto;
        background: url(img/user-img.jpg);
        background-size: 100%;
        background-repeat: no-repeat;
        width: 300px;
        height: 300px;
        background-position: center;
        border-radius: 50%;
        margin-bottom: 50px;
    }
    /*portfolio*/
    .slider .previous,
    .slider .next {
        cursor: pointer;
        position: absolute;
        width: auto;
        margin-top: 30%;
        padding: 16px;
        color: white;
        font-weight: bold;
        font-size: 16px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
    }
    /* form_cv*/
    .choose-down-cv {
        margin-bottom: 70%;
    }
    .choose-down-cv h2 {
        margin: 0 0 56px;
        font-family: "Old Standard TT", "Times", "Times New Roman", serif;
        font-size: 64px;
        line-height: 80px;
        font-weight: 400;
        text-align: center;
    }
    .my-cv {
        margin: 0 auto;
        padding-top: 50px;
        width: 350px;
        height: 350px;
        margin: 0 auto;
        box-shadow: rgba(14, 13, 37, 0.12) 0px 2px 4px 0px, rgba(14, 13, 37, 0.32) 0px 2px 16px 0px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: "a a a a a a a a" "d d d d d d d d" "b b b b b b b b" "c c c c c c c c";
        grid-template-rows: 70px 70px 70px 70px;
        justify-items: center;
        margin-bottom: 100px;
    }
    .my-cv_email {
        grid-area: a;
        width: 300px;
        height: 40px;
        margin-bottom: 10px;
        border-radius: 10px;
        outline: none;
        border: 1px solid #000;
        padding-left: 5px;
    }
    .my-cv_name {
        grid-area: d;
        width: 300px;
        height: 40px;
        margin-bottom: 10px;
        border-radius: 10px;
        outline: none;
        border: 1px solid #000;
        padding-left: 5px;
    }
    .my-cv .btn-email {
        grid-area: b;
    }
    .my-cv a {
        grid-area: c
    }
    .btn-email {
        width: 150px;
        height: 40px;
        border: .5px solid #000;
        border-radius: 10px;
        outline: none;
    }
    .choose-down-cv {
        margin-bottom: 70%;
        margin-top: 300px;
    }
    
    .choose-down-cv h2 {
        margin: 0 0 56px;
        font-family: "Old Standard TT", "Times", "Times New Roman", serif;
        font-size: 64px;
        line-height: 80px;
        font-weight: 400;
        text-align: center;
    }
    
    .my-cv{
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }
    .form-send{
        display: grid;
        grid-template-areas: "a a a a a a a a" "b b b b b b b b" "c c c c c c c c" "d d d d d d d d";
        width: 100%;
        align-content: center;
    }
    .input-name, .input-email, .text-send, .email-btn{
        outline: none;
        border: 1px solid #000; 
    }
    .input-name, .input-email, .text-send:hover{
        outline: none;
    }
    
    
    .input-name{
        grid-area: a;
        width: 140%;
        height: 30px;
        border: 1px solid #000;
    }
    .input-email{
        margin: 0;margin-bottom: 30px;
        outline: none;
        grid-area: b;
        width: 140%;
        height: 30px;
    }
    .text-send{
        resize: none;
        grid-area: c;
        width: 140%;
        margin-bottom: 40px;
        height: 300px;
    }
    .email-btn{
        grid-area: d;
        width: 150px;
        height: 30px;
        outline: none;
    }
}