*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  min-width: 1010px;
  font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
  font-size: 16px;
  line-height: 32px;
  color: #222222;
  background-color: #f2f4f6;
  background: url('img/kolizej_day.jpg');
  background-repeat: no-repeat;
  background-position: top center;
  -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%; /* Современные браузеры */
  top: 0 !important;
}

/*lang*/
#goog-gt-tt, .goog-te-balloon-frame{display: none !important;}
.goog-te-banner-frame{display: none !important;} 
.goog-text-highlight { background: none !important; box-shadow: none !important;}
.goog-logo-link{display: none !important;}
.goog-te-gadget{height: 28px !important;  overflow: hidden;}


.container {
  max-width: 968px;
  margin: 0 auto;
  padding: 0 16px;
}

.page-header {
  margin: 0 0 120px;
  padding: 32px 0 32px;
}

.page-header .container,
.page-footer .container {
  max-width: 1408px;
  text-align: right;
}

.page-header a {
  margin-left: 56px;
  color: #288be6;
  text-decoration: none;
  background-repeat: no-repeat;
  background-position: left;
}

.header-email {
  padding-left: 30px;
  background-image: url("img/icon-email-header.svg");
}

.header-phone {
  padding-left: 25px;
  background-image: url("img/icon-phone-header.svg");
}
.language img{
  width: 30px;
}

.hero-image {
  margin-bottom: 720px;
}


.hero-image .container {
  max-width: 1408px;
  text-align: center;
}

.heading {
  margin: 0 0 16px;
  font-family: "Old Standard TT", "Times", "Times New Roman", serif;
  font-size: 88px;
  line-height: 96px;
  font-weight: 400;
}

.hero-image p {
  margin: 0;
  font-size: 32px;
  line-height: 48px;
}

.intro {
  margin: 0 0 120px;
}

.subheading {
  margin: 0 0 56px;
  font-family: "Old Standard TT", "Times", "Times New Roman", serif;
  font-size: 64px;
  line-height: 80px;
  font-weight: 400;
  text-align: center;
}


.user-img{
  margin-top: 10px;
  border: 10px solid #fff;
  margin: 0 auto;
  background: url(img/user-img.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  width: 400px;
  height: 400px;
  background-position: center;
  border-radius: 50%;
  margin-bottom: 50px;
}

.intro h3,
.portfolio h3
.choose-down-cv h3 {
  margin: 0 0 12px;
  font-size: 28px;
  line-height: 40px;
  font-weight: 500;
}

.intro p {
  margin: 0 0 32px;
}

.skills-list {
  margin: 0;
  padding: 0;
}

.skills-list dt {
  padding-left: 32px;
  background-repeat: no-repeat;
  background-position: left;
}

.skill-html {
  background-image: url("img/icon-html.svg");
}

.skill-css {
  background-image: url("img/icon-css.svg");
}

.level {
  margin: 4px 0 16px;
  padding: 0;
  height: 14px;
  font-size: 0;
  background-color: #ffffff;
  border: 1px solid #86c3fa;
  border-radius: 8px;
}

.level div {
  margin: 1px;
  height: 12px;
  background-color: #288be6;
  border-radius: 6px;
}

.projects {
  margin: 0;
  padding: 0;
  list-style: none;
}

.projects li {
  margin: 0 0 80px;
}

.project-image {
  margin: 0 0 24px;
  text-align: center;
}

.projects p {
  margin: 0 0 24px;
}

.button {
  padding: 6px 20px;
  display: inline-block;
  vertical-align: baseline;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 4px;
  background-color: #288be6;
  color: #ffffff;
}

.page-footer {
  padding: 40px 0;
  background-color: #00417d;
  color: #ffffff;
}

.page-footer a {
  margin-left: 56px;
  color: inherit;
  text-decoration: none;
  background-repeat: no-repeat;
  background-position: left;
}

.footer-email {
  padding-left: 30px;
  background-image: url("img/icon-email-footer.svg");
}

.footer-phone {
  padding-left: 25px;
  background-image: url("img/icon-phone-footer.svg");
}

/*portfolio*/
.list-portfolio{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 120px;
  grid-column-gap: 10px;
}

.list{
  width: 360px;
}
.list img{
  width: 250px;
}
/*my cv*/
.choose-down-cv{
  margin-bottom: 30px;
}
.choose-down-cv h2{
    margin: 0 0 56px;
    font-family: "Old Standard TT", "Times", "Times New Roman", serif;
    font-size: 64px;
    line-height: 80px;
    font-weight: 400;
    text-align: center;
}
.my-cv{
  margin: 0 auto;
  padding: 30px;
  border: .5px solid #000;
  width: 800px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.cv-email{
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  padding: 20px 0;
  flex-direction: column;
  flex-wrap: nowrap;

}
.download-cv{
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  padding: 20px 0;

}
.cv-email input{
  width: 300px;
  height: 40px;
  padding-left: 10px;
  display: block;
  border: .5px solid #000;
  border-radius: 10px;
  outline: none;
  margin-bottom: 15px;
}
.btn-email{
  width: 150px;
  height: 40px;
  border: .5px solid #000;
  border-radius: 10px;
  outline: none;
}

/*mobile version*/
@media (max-width: 768px) {
  html, body{
    overflow-x: hidden;
  }
  body {
    margin: 0;
    min-width: 360px;
    font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
    font-size: 16px;
    line-height: 32px;
    color: #222222;
    background-color: #f2f4f6;
    background-image: url("img/hero-bg.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    top: 0 !important;
    position: relative;
  }

  .user-img{
    border: 10px solid #fff;
    margin: 0 auto;
    background: url(img/user-img.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 300px;
    height: 300px;
    background-position: center;
    border-radius: 50%;
    margin-bottom: 50px;
  }

  /*portfolio*/
.list-portfolio{
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  margin-bottom: 120px;
  grid-column-gap: 10px;
  grid-row-gap: 30px;
  padding-left: 17%;
}

.list{
  width: 360px;
}
.list p{
  width: 250px;
  text-align: left;
}
.list img{
  width: 250px;
}
.page-footer {
  min-width: 100%;
  margin: 0 auto;
  padding: 40px 0;
  background-color: #00417d;
  color: #ffffff;
}
}